<h1>査定依頼フォーム</h1>

<%= form_with(model: @assessment_request_form, local: true) do |f| %>
  <%= f.label :property_city %>
  <%= f.text_field :property_city %>

  <%= f.label :property_address %>
  <%= f.text_field :property_address %>
  
  <%= f.label :property_type %>
  <%= f.text_field :property_type %>
  
  <%= f.label :property_exclusive_area %>
  <%= f.text_field :property_exclusive_area %>
  
  <%= f.label :property_land_area %>
  <%= f.text_field :property_land_area %>
  
  <%= f.label :property_building_area_unit %>
  <%= f.text_field :property_building_area_unit %>
  
  <%= f.label :property_floor_area %>
  <%= f.text_field :property_floor_area %>
  
  <%= f.label :property_room_plan %>
  <%= f.text_field :property_room_plan %>
  
  <%= f.label :property_constructed_year %>
  <%= f.text_field :property_constructed_year %>
  
  <%= f.label :user_email %>
  <%= f.text_field :user_email %>
  
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  
  <%= f.label :user_name_kana %>
  <%= f.text_field :user_name_kana %>
  
  <%= f.label :user_tel %>
  <%= f.text_field :user_tel %>

  <%= f.submit "査定を依頼する", class: "btn btn-primary" %>
<% end %>