<%= render "shared/icon" %>

<header class="text-center mt-3 container">
  <h1>査定依頼</h1>
  <h2 class="fs-4"><%= "#{@shop.company.name} #{@shop.name}" %></h2>
</header>

<section class="d-flex justify-content-center">
  <div class="text-center" style="width: 1000px">
    <%= form_with(model: @assessment_request, local: true, class:"container mt-5") do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_city %></dt>
        <dd class="w-100"><%= f.select :property_city, @assessment_request.property_city_choices(@shop) , { prompt: "査定可能な市区町村のみ選択できます" }, class:"w-100 p-2 border border-secondary shadow-sm" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_remaining_address %></dt>
        <dd class="w-100"><%= f.text_field :property_address, class:"ps-3 border border-secondary", placeholder:"例: 8917番地5 Speeeビル3階405室" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_type %></dt>
        <dd class="w-100"><%= f.select :property_type, @assessment_request.property_type_choices, { include_blank: true }, class:"w-100 p-2 border border-secondary shadow-sm" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_building_area_unit %></dt>
        <dd class="w-100 d-flex justify-content-center gap-5">
          <% @assessment_request.property_building_area_unit_choices.each do |pb| %>
            <div class="d-flex gap-2">
              <%= f.label :property_building_area_unit, pb[0] %>
              <%= f.radio_button :property_building_area_unit, pb[1] %>
            </div>
          <% end %>
        </dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_exclusive_area %></dt>
        <dd class="w-100"><%= f.text_field :property_exclusive_area, class:"ps-3 border border-secondary", placeholder: "おおよその数字で構いません。例: 120" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_land_area %></dt>
        <dd class="w-100"><%= f.text_field :property_land_area, class:"ps-3 border border-secondary", placeholder: "おおよその数字で構いません。例: 120" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_building_area %></dt>
        <dd class="w-100"><%= f.text_field :property_building_area, class:"ps-3 border border-secondary", placeholder: "おおよその数字で構いません。例: 120" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_floor_area %></dt>
        <dd class="w-100"><%= f.text_field :property_floor_area, class:"ps-3 border border-secondary", placeholder: "おおよその数字で構いません。例: 120" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_room_plan %></dt>
        <dd class="w-100"><%= f.select :property_room_plan, @assessment_request.property_room_plan_choices, { include_blank: true }, class:"w-100 p-2 border border-secondary shadow-sm" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :property_constructed_year_2 %></dt>
        <dd class="w-100"><%= f.text_field :property_constructed_year, class:"ps-3 border border-secondary", placeholder:"おおよその数字で構いません。例: 2002" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_email %></dt>
        <dd class="w-100"><%= f.email_field :user_email, class:"ps-3 border border-secondary", placeholder: "例: speee0922@example.com" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_family_name %></dt>
        <dd class="w-100"><%= f.text_field :user_family_name,  class:"ps-3 border border-secondary", placeholder: "例: 田中" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_given_name %></dt>
        <dd class="w-100"><%= f.text_field :user_given_name,  class:"ps-3 border border-secondary", placeholder: "例: 太郎" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_family_name_kana %></dt>
        <dd class="w-100"><%= f.text_field :user_family_name_kana,  class:"ps-3 border border-secondary", placeholder: "例: たなか" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_given_name_kana %></dt>
        <dd class="w-100"><%= f.text_field :user_given_name_kana,  class:"ps-3 border border-secondary", placeholder: "例: たろう" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.label :user_tel %></dt>
        <dd class="w-100"><%= f.telephone_field :user_tel, class:"ps-3 py-2 w-100 border border-secondary", :placeholder => "例: 08042876345" %></dd>
      </div>

      <div class="d-flex align-items-center mb-4">
        <dt class="w-100 text-center"><%= f.hidden_field :branch_id, :value => @shop.id %></dt>
        <dd class="w-100"><%= f.hidden_field :url_param, :value => "mituke-ru" %></dd>
      </div>

      <div class="text-center mb-4"><%= f.submit "査定を依頼する", class: "btn btn-secondary" %></div>

    <% end %>
  </div>
</section>
