<header class="text-center mt-3 container">
  <h1><%= @review.title %></h1>
</header>

<section class="mt-3 container">
  <p class="mb-0">売却した不動産会社名: <%= @shop.company.name %></p>
  <p class="mb-0"><%= "住所: #{@review.city.prefecture.name}#{@review.city.name}" %></p>
  <p class="mb-0"><%= "売却の理由: #{@review.reason_for_sales_i18n}のため" %></p>
  <% if @review.times_of_sales=="more_than_two_times" %>
	  <p class="mb-0"><%= "売却経験: #{@review.times_of_sales_i18n}" %></p>
  <% else %>
	  <p class="mb-0"><%= "売却経験: 今回の売却が#{@review.times_of_sales_i18n}" %></p>
  <% end %>
</section>

<section class="mt-5 container">
	<div class="mb-3">
		<dt>売却時に不安だったこと</dt>
		<dd class="mt-2"><%= @review.concern_at_sales %></dd>
	</div>
	<div class="mb-3">
		<dt>今回の会社に決めた決め手</dt>
		<dd class="mt-2"><%= @review.reason_for_selection %></dd>
	</div>
	<div class="mb-3">
		<dt>不動産会社への対応満足度: ★<%= @shop.reviews.average :response_satisfaction %></dt>
		<dd class="mt-2"><%= @review.reason_for_response_satisfaction %></dd>
  </div>
	<div class="mb-3">
		<dt>今後売却する人へのアドバイス</dt>
		<dd class="mt-2"><%= @review.advice %></dd>
	</div>
	<div class="mb-3">
		<% if @review.improvement_point.present? %>
  		<dt>不動産会社に改善してほしい点</dt>
			<dd class="mt-2"><%= @review.improvement_point %></dd>
		<% end %>
	</div>
</section>

<section class="mt-5 container">
	<dt class="">売却時期と価格について</dt>
	<table class="mt-2 table-light text-center">
		<thead>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3"></th>
				<th class="border border-1 p-3 fw-bolder">時期</th>
				<th class="border border-1 p-3 fw-bolder">価格</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3">売却検討</th>
				<td class="border border-1 p-3"><%= @review.sale_date.strftime('%Y年%m月') %></td>
				<td class="border border-1 p-3"> - </td>
			</tr>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3">査定依頼</th>
				<td class="border border-1 p-3"><%= @review.assessment_request_date.strftime('%Y年%m月') %></td>
				<td class="border border-1 p-3"><%= "#{@review.assessment_price/10000}万円" %></td>
			</tr>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3">売り出し</th>
				<td class="border border-1 p-3"><%= @review.sale_date.strftime('%Y年%m月') %></td>
				<td class="border border-1 p-3"><%= "#{@review.sale_price/10000}万円" %></td>
			</tr>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3">売却</th>
				<% required_month = diff_month(@review.sale_date, @review.sold_out_date) %>
				<td class="border border-1 p-3"><%= "#{@review.sold_out_date.strftime('%Y年%m月')} #{ "(売出から#{required_month}ヶ月)" if required_month > 0}" %></td>
				<td class="border border-1 p-3"><%= "#{@review.contract_price/10000}万円" %></td>
			</tr>
			<tr class="table-light">
				<th colspan="3" class="border border-1 p-3">引き渡し</th>
				<td class="border border-1 p-3"><%= @review.delivery_date.strftime('%Y年%m月') %></td>
				<td class="border border-1 p-3"> - </td>
			</tr>
		</tbody>
	</table>
</section>

<%= render "shared/shop_info", has_logo: false %>
<%= render "shared/assessment_request_button" %>
